@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@import './styles/styles-fonts';

* {
  margin: 0;
  padding: 0
}
body {
  font-family: Lato;
}
#container {
  max-width: 800px;
  margin: 0 auto;
}
